{% extends "base.html" %}
{% block title %}ForACause - Admin Product{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-hover">
        <thead class="table-light-blue">
            <tr>
                <th scope="col" class="topleft">Logo</th>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Category</th>
                <th scope="col">Product Origin</th>
                <th scope="col">Product Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
                <th scope="col" class="topright" colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for product in product_list %}
            <tr>
                <td><img src="{{ url_for('static', filename='images/' + product.image_file )}}" alt="Logo"
                        style="height:5vh; width: 3vw;"></td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.country }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.stock }}</td>
                {% for order in orders_list %}
                {% if order.supplier_id == product.id %}
                <td>{{ suppliercount }}</td>
                {% endif %}
                {% endfor %}
                {% if product.isValid == True %}
                
                <td><a href="{{ url_for('productvalidity', id=product.id)}}"><button class='valid'>Valid</button></a></td>
                {% else %}
                <td><a href="{{ url_for('productvalidity', id=product.id)}}"><button class='nonvalid'>Non-valid</button></a></td>
                {% endif %}
                {% if product.isValid == True %}
                <td><a href="/updateProduct/{{product.id}}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a></td>
                <td>
                    <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{product.id}}"><i class="bi bi-trash"></i></button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{product.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body"> Are you sure you want to delete
                                        {{product.name}}?
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {% else %}
                <td><a role="link" aria-disabled="true" class="btn btn-warning"
                        style="background: rgb(255, 232, 29); color:rgb(102, 102, 102); cursor:default;"><i class="bi bi-pencil-square"></i></a></td>
                <td>
                    <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{product.id}}" disabled><i class="bi bi-trash"></i></button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{product.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body"> Are you sure you want to delete
                                        {{product.name}}?
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-light-blue">
            <tr>
                <th class="bottomleft"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan='2' class="bottomright"></th>
            </tr>
        </tfoot>
    </table>
    <a href="/createProduct"><button class="btn btn-outline-info"> Add Product</button></a>
</div>
{% endblock %}
