{% extends "base.html" %}
{% block title %}Feedback Management{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Feedback Management</h2>
    <table class="table table-hover table-bordered">
        <thead class="table-success">
            <tr>
                <th scope="col" class="text-center">Feedback ID</th>
                <th scope="col" class="text-center">Rating</th>
                <th scope="col" class="text-center">Description</th>
                <th scope="col" class="text-center">Issue</th>
                <th scope="col" class="text-center">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedback_list %}
            <tr>
                <td class="text-center">{{ feedback.id }}</td>
                <td class="text-center">{{ feedback.rating }}</td>
                <td>{{ feedback.description }}</td>
                <td class="text-center">{{ feedback.issue }}</td>
                <td class="text-center">{{ feedback.feedback_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not feedback_list %}
    <div class="alert alert-warning text-center mt-4">
        No feedback available.
    </div>
    {% endif %}
</div>
{% endblock %}
