{% extends "base.html" %}
{% block title %}ForACause - Admin Voucher{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-hover">
        <thead class="table-light-blue">
            <tr>
                <th scope="col" class="topleft">Logo</th>
                <th scope="col">Voucher ID</th>
                <th scope="col">Voucher Name</th>
                <th scope="col">Voucher Description</th>
                <th scope="col">Voucher Value</th>
                <th scope="col">Voucher Credit</th>
                <th scope="col">Redeem Date</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Status</th>
                <th scope="col" class="topright" colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for voucher in voucher_list %}
            <tr>
                <td><img src="{{ url_for('static', filename='images/' + voucher.image_file )}}" alt="Logo"
                        style="height:5vh; width: 3vw;"></td>
                <td>{{ voucher.id }}</td>
                <td>{{ voucher.name }}</td>
                <td>{{ voucher.description }}</td>
                <td>${{ voucher.value }}</td>
                <td>{{voucher.credit}}</td>
                <td>{{ voucher.redeem_date }}</td>
                <td>{{ voucher.expiry_date }}</td>
                <!--  -->
                {% if voucher.isValid == True %}
                <td><a href="{{ url_for('vouchervalidity', id=voucher.id)}}"><button class='valid'>Valid</button></a></td>
                {% else %}
                <td><a href="{{ url_for('vouchervalidity', id=voucher.id)}}"><button class='nonvalid'>Non-valid</button></a></td>
                {% endif %}
                {% if voucher.isValid == True %}
                <td><a href="/updateVoucher/{{voucher.id}}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a></td>
                <td>
                    <form action="{{url_for('deletevoucher', id=voucher.id)}}" method="POST">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{voucher.id}}"><i class="bi bi-trash"></i></button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{voucher.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body"> Are you sure you want to delete
                                        {{voucher.name}}?
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {% else %}
                <td><a role="link" aria-disabled="true" class="btn btn-warning"
                        style="background: rgb(255, 232, 29); color:rgb(102, 102, 102); cursor:default;">Update</a></td>
                <td>
                    <form action="{{url_for('deletevoucher', id=voucher.id)}}" method="POST">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{voucher.id}}" disabled><i class="bi bi-trash"></i></button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{voucher.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body"> Are you sure you want to delete
                                        {{voucher.name}}?
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-light-blue">
            <tr>
                <th class="bottomleft"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="3" class="bottomright"></th>
            </tr>

        </tfoot>
    </table>
    <a href="/createVoucher"><button class="btn btn-outline-info"> Add Voucher</button></a>
</div>
{% endblock %}
